<h2> Listing Restaurants </h2>
<% @restaurents.each do |r| %>
  <div class="restaurents">
  <h3> <%= r.name %></h3>
  <p class="address"> <%= r.address %> </p>
  <p> <%= r.description %> </p>
  </div>
<% end %>
